# Object files
*.o
*.obj
*.elf

# Linker output
*.ilk
*.exp

# Patch and wiggle related residdue
*.rej
*.porig

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# datadump
/tools/ddump/*

# Text editor remnants
*.swp
.vscode/*
.idea/*

# General project-specific ignores
doxygen/doxygen/*
build/*
!/lib/discord/*
*.dump
*.mio0
*.z64
*.map
*.sav
.assets-local.txt
sm64dsr_save_file.bin
sm64dsr_config.txt

# Assets
/levels/**/*.png
/actors/**/*.png
/textures/**/*.png
/assets/**/*.bin
/sound/**/*.m64
/sound/**/*.aiff
!/sound/samples/sfx_yoshi/*.aiff
!/sound/samples/sfx_yoshi_peach/*.aiff

# DS Remastered Assets Allowed
!/levels/castle_inside/*painting*.png
!/levels/**/ds_*.png
!/levels/**/ds_*/**/*.png
!/actors/**/ds_*.png
!/actors/**/ds_*/**/*.png
!/textures/**/ds_*.png
!/textures/**/ds_*/**/*.png
!/sound/**/ds_*.m64
!/sound/**/ds_*/**/*.m64
!/sound/**/ds_*.aiff
!/sound/**/ds_*/**/*.aiff
!/assets/**/ds_*.bin
!/assets/**/ds_*/**/*.bin
!/sound/**/01_mario_muh.aiff
!/sound/samples/sfx_env/*.aiff
!/textures/segment2/*font_graphics*
!/textures/segment2/segment2.12458.rgba16.png
!/textures/hud/*
!/textures/hud_file_select/*
!/textures/skybox/*
!/actors/tree/*
!/actors/mushroom_1up/1-up_mushroom.rgba16.png
!/actors/bobomb/bob-omb_left_side.rgba16.png
!/actors/bobomb/bob-omb_right_side.rgba16.png
!/actors/cannon_lid/cannon_lid.rgba16.png
!/actors/toad/*.png
!/actors/goomba/*.png
!/actors/king_bobomb/*.png
!/actors/whomp/*.png
!/actors/bobomb/*.png
!/actors/bobomb_buddy/*.png
!/actors/bullet_bill/*.png
!/actors/mips/*.png
!/actors/piranha_plant/*.png
!/actors/yoshi/*.png
!/levels/wf/bullet_bill_cannon_front.rgba16.png
!/levels/wf/bullet_bill_cannon_sides.rgba16.png
!/levels/castle_inside/17.rgba16.png
!/levels/castle_inside/18.rgba16.png

# Android files
!/textures/touchcontrols/*.png
platform/android/SDL/include
!platform/android/android/**/*.so
platform/android/android/lib/*/libc++_shared.so

# macOS autocreated directory settings file 
.DS_Store

# Build logs
build_vita*.log
*.log
